*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #000;
    background-image: url(https://i.pinimg.com/736x/db/7b/2a/db7b2a670aeb0d3721c869f3708cad85.jpg);
    max-width: 100%; height: auto;
    background-repeat:no-repeat;
    background-size: cover;
}

h1,h2,h3{
    margin-bottom: 20px;
}

section{
    padding: 60px 20px;
    border-bottom: 1px solid #ddd;
}

header{
    border-bottom: 1px solid #ccc;
}

.header-top{
    display: flex;
    justify-content: space-between;
}